* {
    margin: 0px;
    text-decoration: none;
}
body {
    margin: 0.7rem;
}

.encabezado{
    margin: 0;
    background:lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0 1rem;
}

nav{
    background-color:lightcoral;
}

.indice{
    padding: 5px;
    justify-items: space-around;
    align-items: flex-start;
}

li{
    margin: 0px 10px;
}

main{
    display: flex;
    justify-content: space-between;
}

.animales{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.imagen{
    display: inline-block;
    border: black solid 1px;
    margin: 5px;
    text-align: center;
    max-width: 175px;
}

img{
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
}

h2{
  font-size: small;  
}

.continentes{
    display: flex;
    flex-basis: 200px;
    background-color: rgb(99, 102, 117);
}

ul{
    display: flex;
    padding: 5px;
    list-style: none;
}

.lista-continentes{
    text-align: left;
    flex-direction: column;
    align-items: left;
}

.pie{
    background-color: limegreen;
    text-align: center;
}
